.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
*.log.*
logs
.vscode
dest
dist
coverage
.idea
package-lock.json
.nyc*
run/
package-lock.json
.nodejs-cache
AUTHORS
.serverless
.faas_debug_tmp