.model {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}
.modelTitle {
  height: 36px;
  line-height: 36px;
  position: absolute;
  left: 24px;
  font-size: 15px;
  top: 12px;
}

.modelContainer {
  position: absolute;
  padding: 64px;
  top: 50%;
  width: 360px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.modelClose {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 15px;
  color: #999;
  cursor: pointer;
}
.modelClose:hover {
  background-color: #000000;
  color: #fff;
}

.line {
  position: relative;
  padding-left: 60px;
  height: 48px;
  display: flex;
  font-size:12px;
  color: #666;
  flex-direction: column;
  justify-content: center;
}
.label {
  position: absolute;
  left: 0;
  width: 60px;
  text-align: left;
  line-height: 48px;
  font-size: 13px;
  color: #999;
}
input {
  height: 32px;
  padding: 0;
  border: 0;
  padding: 0 6px;
  border-bottom: 1px solid #999;
  outline: none;
  background-color: transparent;
}
.submit {
  text-align: center;
  margin-top: 24px;
  line-height: 36px;
  background-color: rgb(244, 244, 246);
  font-size: 13px;
  cursor: pointer;
}
.submit:hover {
  background-color: rgb(247, 247, 248);
}
